<p id="notice"><%= notice %></p>

<h1> This is the Show Page for <%= @stock.symbol %></h1>

<p>
  <b>Stock Symbol:</b>
  <%= @stock.symbol %>
</p>

<p>
  <font color="red"><b>Prediction Win Percentage</b></font>
</p>